html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: #787878;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.main_container {
  width: 100%;
  height: 100%;
}
.main_container .top_translate_container {
  width: 100%;
  height: 50px;
  background-color: #2e2d2d;
}
.main_container .logo_contact_container {
  width: 100%;
  height: 225px;
  display: flex;
  background-color: #3f3e3e;
}
.main_container .logo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.main_container .logo img {
  height: 150px;
}
.main_container .contact_info {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container .contact_info i {
  font-size: 1.6rem;
  color: yellow;
}
.main_container .contact_info ul {
  font-size: 1.2rem;
  margin-right: 4.5rem;
  color: lightgrey;
}
.main_container #about_background {
  background-image: none !important;
}
.main_container .middle_container {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  background-image: url("../img/blueprints-entrepreneur-hands-110469.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_container .middle_container #services {
  display: flex;
  flex-direction: row;
}
.main_container .middle_container #services .services_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
  border: 1px solid grey;
  margin-right: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.main_container .middle_container #services .services_info i {
  color: #ffa318;
  font-size: 50px;
}
.main_container .middle_container .info_container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_container .middle_container .info_container .form_container {
  max-width: 510px;
  min-width: 324px;
  margin: 50px auto 0px;
  background-color: white;
  border: 1px solid #838383;
  border-bottom: 3px solid grey;
}
.main_container .middle_container .info_container .form_container .form_header {
  width: 500px;
  height: 150px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(https://images2.imgbox.com/a5/2e/m3lRbCCA_o.jpg) left -80px;
}
.main_container .middle_container .info_container .form_container .form_header h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  display: inline-block;
  font-weight: 100;
  font-size: 22pt;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
  color: white;
}
.main_container .middle_container .info_container .form_container .form_header h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16pt;
  margin: 1em 0 0.4em 0;
  color: white;
}
.main_container .middle_container .info_container .form_container form {
  border: 1px solid lightgrey;
  max-width: 500px;
  height: 500px;
  display: block;
}
.main_container .middle_container .info_container .form_container form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main_container .middle_container .info_container .form_container form ul li {
  margin: 0;
  clear: both;
  display: inline-block;
  width: 100%;
}
.main_container .middle_container .info_container .form_container form ul li:last-child {
  margin: 0;
}
.main_container .middle_container .info_container .form_container form ul li p {
  margin: 0 0 1.25em 0;
  padding: 0;
  float: left;
}
.main_container .middle_container .info_container .form_container form ul li p.right {
  float: right;
}
.main_container .middle_container .info_container .form_container form ul li .divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: blue;
  background-image: linear-gradient(to right, pink, blue);
}
.main_container .middle_container .info_container .form_container form ul li .req {
  color: pink;
}
.main_container .middle_container .info_container .form_container form label {
  display: block;
  margin: 0 0 0.5em 0;
  color: blue;
  font-size: 14px;
}
.main_container .middle_container .info_container .form_container form input {
  margin: 0 0 0.5em 0;
  border: 1px solid grey;
  padding: 6px 10px;
  color: black;
  font-size: 14px;
}
.main_container .middle_container .info_container .form_container form textarea {
  border: 1px solid grey;
  padding: 6px 10px;
  width: 100%;
  color: black;
}
.main_container .middle_container .info_container .form_container form small {
  color: blue;
  margin: 0 0 0 0.5em;
}
.main_container .middle_container .info_container .form_container form .btn {
  font-size: 12pt;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: white;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  border: #676767;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.main_container .middle_container .info_container .form_container form .btn.btn-submit {
  background-color: blue;
}
.main_container .middle_container .info_container .form_container form .btn:hover {
  background-color: #3333ff;
}
.main_container .middle_container .info_container h2 {
  font-size: 24pt;
  margin-bottom: 40px;
}
.main_container .middle_container .info_container p {
  font-size: 12pt;
  line-height: -1;
  margin-bottom: 40px;
  width: 70%;
}
.main_container .middle_container .info_container img {
  height: 350px;
  width: 450px;
}
.main_container .middle_container .top_nav_bar {
  width: 70%;
  height: 80px;
  background-color: #f8f4f4;
  margin-top: -45px;
}
.main_container .middle_container .top_nav_bar i {
  display: none;
}
.main_container .middle_container .top_nav_bar nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 10px 12px rgba(0, 0, 0, 0.22);
}
.main_container .middle_container .top_nav_bar nav a {
  width: 175px;
  height: 40%;
  border-left: 1px solid grey;
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 1;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  color: #787878;
  text-decoration: none;
}
.main_container .middle_container .top_nav_bar nav #contact {
  border-right: 1px solid grey;
}
.main_container #about_people {
  margin-top: 120px;
}
.main_container .slogan_container {
  margin: 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: lightgrey;
}
.main_container .slogan_container h2 {
  font-size: 1.5rem;
}
.main_container .leaders_container {
  padding-top: 20px;
  height: 100%;
  width: 50%;
  background-color: gray;
  margin: 0 auto;
  /* Slideshow container */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
  /* On smaller screens, decrease text size */
}
.main_container .leaders_container .mySlides {
  display: none;
}
.main_container .leaders_container img {
  vertical-align: middle;
}
.main_container .leaders_container .slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}
.main_container .leaders_container .text {
  color: black;
  font-size: 30px !important;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
  width: 100%;
  font-weight: 900;
  text-align: center;
}
.main_container .leaders_container .numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.main_container .leaders_container .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.main_container .leaders_container .active {
  background-color: #717171;
}
.main_container .leaders_container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .main_container .leaders_container .text {
    font-size: 11px;
  }
}
.main_container .middle_content_container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}
.main_container .middle_content_container .num_of_emp {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.main_container .middle_content_container .num_of_emp i {
  font-size: 24pt;
  color: #ffa318;
}
.main_container .middle_content_container .num_of_emp p {
  font-size: 1rem;
  color: #ffa318;
  padding: 10px;
}
.main_container .middle_content_container .num_years {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.main_container .middle_content_container .num_years i {
  font-size: 24pt;
  color: #ffa318;
}
.main_container .middle_content_container .num_years p {
  font-size: 1rem;
  color: #ffa318;
  padding: 10px;
}
.main_container .middle_content_container .num_projects {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container .middle_content_container .num_projects i {
  font-size: 24pt;
  color: #ffa318;
}
.main_container .middle_content_container .num_projects p {
  font-size: 1rem;
  color: #ffa318;
  padding: 10px;
}
.main_container .our_projects {
  width: 100%;
  height: 400px;
  background-color: #3f3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_container .our_projects h1 {
  font-size: 24pt;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}
.main_container .our_projects .button_container {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
}
.main_container .our_projects .button_container ul {
  text-align: center;
  margin-top: 10px;
  margin-right: 50px;
  padding-top: 10px;
  cursor: pointer;
  height: 40px;
  width: 120px;
  background-color: #3f3e3e;
  color: white;
  border: #3f3e3e;
  font-size: 12pt;
}
.main_container .our_projects .button_container ul:hover {
  background-color: #ffa318;
  color: #3f3e3e;
  border: none;
}
.main_container .bottom_image_container {
  width: 100%;
  height: 600px;
  background-image: url("../img/architecture-building-center-27406.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_container .bottom_info_content {
  width: 100%;
  height: 600px;
}
.main_container .bottom_info_content h2 {
  font-size: 24pt;
  margin-left: 5%;
  margin-top: 20px;
  color: black;
}
.main_container .bottom_info_content .content_container {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container .bottom_info_content .content_container .content {
  width: 25%;
  height: 80%;
  margin-right: 2.5%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_container .bottom_info_content .content_container .content img {
  width: 300px;
  height: 250px;
}
.main_container .bottom_info_content .content_container .content h3 {
  font-size: 18pt;
  margin-top: 20px;
}
.main_container .bottom_info_content .content_container .content p {
  width: 80%;
  font-size: 12pt;
  margin-top: 20px;
}
.main_container .bottom_info_content .content_container .content a {
  text-decoration: none;
  color: #ffa318;
  margin-top: 20px;
  font-size: 12pt;
}
.main_container .bottom_image {
  width: 100%;
  height: 800px;
}
.main_container .bottom_image {
  position: relative;
}
.main_container .bottom_image h2 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  text-align: center;
}
.main_container .bottom_image span {
  color: white;
  font: bold 48px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: #000000;
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.main_container .bottom_image p {
  position: absolute;
  top: 220px;
  left: 0;
  width: 100%;
  text-align: center;
}
.main_container .bottom_image #second_item {
  color: white;
  font: bold 28px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: #000000;
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
}
.main_container .bottom_image ul {
  position: absolute;
  top: 350px;
  right: 700px;
  text-align: center;
  background-color: transparent;
  border: none;
}
.main_container .bottom_image #btn {
  color: white;
  font: bold 28px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: #000000;
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.main_container .bottom_image #btn:hover {
  background-color: #ffa318;
  cursor: pointer;
}
footer {
  margin-top: 40px;
  width: 100%;
  height: 50px;
  background-color: #3f3e3e;
  color: white;
  text-align: center;
}
#services_footer {
  margin-top: 150px;
}
.contact_footer {
  margin-top: 180px;
}
@media (max-width: 1024px) {
  .main_container {
    width: 100%;
    height: 100%;
  }
  .main_container .logo_contact_container .contact_info ul {
    height: 200px;
  }
  .main_container .logo_contact_container .contact_info .fa-map-marker {
    font-size: 1.6rem;
    color: yellow;
  }
  .main_container .logo_contact_container .contact_info #services_span {
    font-size: 1.2rem;
    margin-right: 4.5rem;
    color: lightgrey;
  }
  .main_container .bottom_image #btn {
    position: absolute;
    margin-left: 100px;
    width: 200px;
  }
  .main_container .content img {
    width: 175px !important;
    height: 175px !important;
  }
  .main_container #home_middle {
    margin-bottom: -250px;
  }
  .main_container .info_container {
    margin-top: 100px;
  }
  .main_container .info_container img {
    margin-bottom: 0px;
  }
  .main_container .slogan_container {
    margin-top: 350px !important;
  }
  .main_container #home {
    width: 600px;
  }
  .main_container #services {
    display: flex;
    flex-direction: column !important;
  }
  .main_container #services #box1 {
    margin-top: 350px !important;
    width: 500px !important;
    height: 500px !important;
  }
  .main_container #services #box1 i {
    margin-top: 20px;
    display: block !important;
  }
  .main_container #services #box2 {
    margin-top: 10px !important;
    width: 500px !important;
    height: 500px !important;
  }
  .main_container #services #box2 i {
    margin-top: 20px;
    display: block !important;
  }
  .main_container #services #box3 {
    margin-top: 10px !important;
    width: 500px !important;
    height: 500px !important;
  }
  .main_container #services #box3 i {
    margin-top: 20px;
    display: block !important;
  }
  #services_footer {
    margin-top: 720px;
  }
  .contact_footer {
    margin-top: 300px;
  }
}
@media (max-width: 800px) {
  .main_container {
    width: 100%;
  }
  .main_container .middle_container .top_nav_bar {
    width: 80%;
  }
  .main_container .bottom_image h2 span {
    font-size: 28pt;
  }
  .main_container .bottom_image p span {
    font-size: 16pt !important;
  }
  .main_container .bottom_image #btn {
    margin-left: 230px;
  }
}
@media (max-width: 500px) {
  .main_container {
    width: 100%;
  }
  .main_container .logo_contact_container .contact_info {
    width: 100px;
    margin-left: 150px;
    margin-top: -10px;
  }
  .main_container .logo_contact_container .contact_info ul {
    font-size: 10pt;
  }
  .main_container .logo_contact_container .contact_info ul span {
    display: none;
  }
  .main_container .logo_contact_container .contact_info ul i {
    padding-top: 50px;
  }
  .main_container .middle_container .info_container {
    margin-top: 150px;
  }
  .main_container .middle_container .info_container .form_container {
    width: 300px;
    margin-left: -50px;
  }
  .main_container .middle_container .info_container .form_container .form_header {
    width: 100%;
  }
  .main_container .middle_container .info_container .form_container .form {
    width: 100%;
  }
  .main_container .middle_container .info_container #about_us {
    width: 400px !important;
  }
  .main_container .middle_container .top_nav_bar {
    width: 175px;
  }
  .main_container .middle_container .top_nav_bar .fa-bars {
    display: block;
    position: absolute;
    font-size: 40px;
    margin-left: 70px;
    margin-top: 15px;
    cursor: pointer;
  }
  .main_container .middle_container .top_nav_bar nav {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: absolute;
    margin-left: 37px;
    width: 100px;
  }
  .main_container .middle_container .top_nav_bar nav a {
    border: 1px solid lightgrey !important;
    background-color: #3f3e3e;
    padding-top: 10px;
    color: white;
  }
  .main_container .middle_container .top_nav_bar .nav_show {
    display: none;
  }
  .main_container .slogan_container {
    width: 100% !important;
  }
  .main_container .slogan_container h2 {
    font-size: 16pt;
  }
  .main_container .bottom_image span {
    font-size: 22pt !important;
  }
  .main_container .bottom_image #second_item {
    font-size: 14pt !important;
  }
  .main_container .bottom_image #btn {
    margin-top: 10px;
    margin-left: 360px;
  }
}
